.card {
  transition: transform 0.3s ease; /* Transición suave del giro */
  transform-style: preserve-3d; /* Mantiene la transformación 3D */
  perspective: 1000px; /* Añade perspectiva para el efecto 3D */
}

.card-back,
.card-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-wrap: anywhere;
}